<div class="root">
  <zms-top-bar class="root-menu" />
  <div class="root-container">
    <router-outlet />
  </div>
  <zms-toast [position]="'bottom-right'"/>
  <zms-toast [position]="'bottom-center'" [key]="'confirm'" (closed)="onReject($event.message)">
    <ng-template let-message [keyTemplate]="'message'">
      <div class="confirm-message">
        <div class="icon">
          <i class="google-symbol warning" ></i>
          <div>Подтверждение действия</div>
        </div>
        <div class="content">
          <div>{{message.detail}}</div>
        </div>
        <div class="buttons">
          <zms-button [label]="'Подтвердить'" (clickEvent)="onConfirm(message)"   />
          <zms-button [label]="'Отменить'" [severity]="'contrast'" (clickEvent)="onReject(message)"/>
        </div>
      </div>
    </ng-template>
  </zms-toast>
</div>
