:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;

    .recipient {
      display: flex;

      .phone {

        flex: 0 0 200px;

      }

      .name {
        flex: 1;
      }
    }
  }

  zms-input-double {
    margin: 0 10px 7px 0px;
  }
}
